<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Events</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>

<div class="container">

    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <form method="post">

        <div class="row">
            <div class="col-12">

                <table id="movies" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                    <tr>
                        <th>filename</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="movieDTO: ${movieDTOS}">
                        <td th:text="${movieDTO.filename}">filename</td>
                        <td>
                            <a th:href="'/movie/' + ${movieDTO.id} + '/search'">Search</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </form>
</div>

<script>
    $(document).ready(function() {
        $('#movies').DataTable({
            "order": [
                [0, 'desc']
            ]
        });
    });
</script>

</body>
</html>